/* Empty. Add your own CSS if you like */
ion-view {
	background-image: url('../img/onett_night.png');
	background-position: -46px -156px;
/*	padding-top: 5%;
*/}

ion-content {
	padding: 10px;
}

.scroll {
	max-width: 600px;
	margin: 0 auto;
}

.games-list .game {
	padding-left: 106px;
	font-size: 1.2em;
}

.about-list img {
	max-width: 550px;
}

.center {
	text-align: center;
}