<ion-view view-title="Bonus Round">
  <ion-content class="padding bonus-round-bg">
    <div class="list card">
      <div class="item item-divider">This Week's Deals</div>
      <div class="item item-body">
        <div>
          <b>$3 Draught Beers</b> until 10 PM this Wednesday!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming Events</div>
      <div class="item item-body">
        <div>
          <b style="margin-right: 1%">Soon</b> Kickstarter Debut
        </div>
      </div>
      <div class="item item-body">
        <div>
          <b style="margin-right: 1%">Nov 29</b> Street Fighter Tournament
        </div>
      </div>
      <div class="item item-body">
        <div>
          <b style="margin-right: 1%">Dec 15</b> Pac Man Night?
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
