<ion-view view-title="About Us">
  <ion-content>
  <div class="about-list list card">
  	<div class="item item-body">
  		<div class="center">
  			<img class="full-image" ng-attr-src="{{ baseUrl }}/img/about_us.png" />
  		</div>
		<p>
			Hi, we're cousins Jacob and James (nerds, DND enthusiasts, avid comic readers, gamers, movie lovers) and Bonus Round is our lovechild. Bonus Round is opening in central Phoenix in 2015. We want to create an environment where people like us could hang out/game out and grab a brew.
		</p>

		<p>
			If you love classic arcade games, local beers, tabletop games, vintage cartoons, and/or gaming tournaments then you will seriously be in love with Bonus Round.
		</p>
  	</div>
  </div>
  </ion-content>
</ion-view>
