<ion-view view-title="Games">
  <ion-content>
<!--   	<div class="card">
  		<div class="item item-text-wrap">
  			Welcome to the Bonus Round leaderboard! If you beat one of the scores on this page, you get 50% off your next beer!
  		</div>
  	</div> -->

  	<div class="games-list list list-inset" ng-repeat="section in games" ng-if="section.gamesList.length">
		<div class="item item-divider" ng-bind="section.type"></div>

		<a class="item game" ng-class="{ 'item-thumbnail-left': game.img }" ng-repeat="game in section.gamesList">
			<img ng-if="game.img" ng-attr-src="{{ baseUrl }}/img/games/{{ game.img }}" />
			<span ng-bind="game.name"></span>
		</a>
  	</div>
  </ion-content>
</ion-view>
