<ion-view view-title="Social">
  <ion-content>
    <div class="list card">
      <a ng-repeat="site in socialSites" ng-href="{{ site.url }}" 
      class="item item-icon-left item-icon-right" target="_blank">

        <i class="icon {{ site.icon }}"></i>
        {{ site.name }}
        <i class="icon ion-chevron-right icon-accessory"></i>

      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Contact us
      </div>
      <a class="item item-icon-right" href="mailto:Bonusroundphx@gmail.com">
        <h2>Email</h2>
        <p>Bonusroundphx@gmail.com</p>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
