<ion-view view-title="High Scores">
  <ion-content>
  	<div class="card">
  		<div class="item item-text-wrap">
  			Welcome to the Bonus Round leaderboard! If you beat one of the scores on this page, you get 50% off your next beer!
  		</div>
  	</div>

  	<div class="list list-inset">
		<div class="item item-divider">
			All-Time High Scores
		</div>

		<div class="item">
			Pac-Man

		    <span class="item-note">
		      10,259
		    </span>
		</div>

		<div class="item">
			Galaga

		    <span class="item-note">
		      15,999
		    </span>
		</div>
  	</div>
  </ion-content>
</ion-view>
